
.bill-list .bill {
  border: 1px solid black;
  margin: 1px;
}

.bill-list .bill .bill-info.span {
  font-weight: bolder;
}

.shop-info {
  display: flex;
  flex-direction: row;
}
.item{
  border: 1px solid black;
  margin: 2px;
}

.bill-item-info {
  display: flex;
  flex-direction: row;
}

.shop-info > p, .bill-item-info >p{
  font-weight: bolder;
}

.bill-item {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}
.bill-item .item-description {
  font-weight: bolder;
  margin-right: 2px;
  margin-left: 2px;
}
.item-button-panel button {
    width: 100%;
    font-size: 24px;
    margin: 2px;
}
.bill-button-panel button {
  width: 100%;
  font-size: 24px;
  margin: 2px;
}

.bill-details {
    border: 1px solid black;
}

.bill-details .bill-info {
    margin: 2px;
    padding-bottom: 3px;
    font-size: 20px;

}

.bill-details .bill-info .bill-info-item {
    display: flex;
    flex-direction: row;
}

.bill-details .bill-info .bill-info-item .bill-info-description {
    font-weight: bolder;
}
.bill-items .bill-item {
    display: flex;
    flex-direction: column;
}

.bill-items .bill-item .bill-item-info-data  {
    display: flex;
    flex-direction: row;
}


