
.bill-list .bill {
  border: 1px solid black;
  margin: 1px;
}

.bill-list .bill .bill-info>span {
  font-weight: bolder;
}

.shop-info {
  display: flex;
  flex-direction: row;
}
.item{
  border: 1px solid black;
  margin: 2px;
}

.bill-item-info {
  display: flex;
  flex-direction: row;
}

.shop-info > p, .bill-item-info >p{
  font-weight: bolder;
  width: 20%;
}
.shop-info > input, .shop-info > filtered-select {
    width: 75%
}
.bill-item {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}
.bill-item .item-description {
  font-weight: bolder;
  margin-right: 2px;
  margin-left: 2px;
  width: 20%;
}
.bill-item-info > input {
    width: 75%;
}
.bill-item-info > filtered-select {
    width: 75%;
}
.item-button-panel button {
    width: 100%;
    font-size: 24px;
    margin: 2px;
}
.bill-button-panel button {
  width: 100%;
  font-size: 24px;
  margin: 2px;
}

.bill-details {
    border: 1px solid black;
}

.bill-details .bill-info {
    margin: 2px;
    padding-bottom: 3px;
    font-size: 20px;

}

.bill-details .bill-info .bill-info-item {
    display: flex;
    flex-direction: row;
}

.bill-details .bill-info .bill-info-item .bill-info-description {
    font-weight: bolder;
    width: 20%;
}
.bill-items .bill-item {
    display: flex;
    flex-direction: column;
}

.bill-items .bill-item .bill-item-info-data  {
    display: flex;
    flex-direction: row;
}

.statistics-item {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.statistics-item .name {
    font-weight: bolder;
    margin-right: 5px;
}

.statistics-item .switch-item-button {
    border: 1px solid black;
    margin-left:auto;
    margin-right:0;
    width: 40px;
    height: 20px;
}

.statistics-item .active {
    background-color: rgb(204, 204, 204);
}
.statistics-button-panel .name-filter {
    display: flex;
    flex-direction: row;
}

.statistics-button-panel .date-filter, .statistics-button-panel .date-filter > div {
    display: flex;
    flex-direction: row;
}

.statistics-button-panel .filter-field,  .bill-list-button-panel .filter-field {
    margin: 2px;
}

.statistics-button-panel .filter-field .filter-title, .bill-list-button-panel .filter-field .filter-title {
    font-weight: bolder;
}

.statistics-button-panel .add-product-button {
    width: 100%;
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
}

.statistics-button-panel .edit-bill-button {
    width: 100%;
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
    height: 40px;
}

.total-sum {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.total-sum .title {
    font-weight: bolder;
    margin-right: 5px;
}

.select-button .enable-button {
    border: 1px solid black;
}

.filtered-select {
    display: flex;
    flex-direction: column;
}

.bill-list-button-panel {
    display: flex;
    flex-direction: row;
}
.bill-list-button-panel .filter-field {
    display: flex;
    flex-direction: row;
}
.bill-list-button-panel .edit-bill-button {
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
    width: 20%;
}

.shop-list .shop-item, .product-list .product-item {
    border: 1px solid black;
    margin-top: 1px;
}

.shop-list .shop-info > span, .product-list .product-info > span {
    font-weight: bolder;
}

.shop-details .shop-info > span, .product-details .product-info > span {
    font-weight: bolder;
}

.error-messages p {
    color : red;
}

.product-filter .filter-value > input, .shop-filter .filter-value > input{
    width: 100%;
}

.currency-button-panel {
    display: flex;
    flex-direction: row;
}
.currency-button-panel .currency-button {
    border: 1px solid grey;
    margin: 2px;
    padding: 2px;
    width: 30%;
}

.currency-button-panel .currency-button-active {
    font-weight: bolder;
    background: grey;
}


